<h3 class="isp-events__title">{{ title }}</h3>
<app-create-meetup></app-create-meetup>
<div class="isp-events__list">
  <button mat-raised-button (click)="loadList()">Обновить список</button>
  <mat-grid-list gutterSize="20" cols="4" rowHeight="280px">
    <mat-grid-tile *ngFor="let meetup of meetups" class="isp-event-list__tile">
      <app-meetup-card [meetup]="meetup" (remove)="deleteMeetup($event)">
      </app-meetup-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
