.isp-footer {
  display: flex;
}
.isp-footer__row {
  display: flex;
  justify-content: center;
  color: gray;
}
.isp_footer__placeholder {
  display: block;
  height: 64px;
}
.isp-content {
  min-height: calc(100vh - 128px);
  max-width: 960px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
